<html>
    <head>
        <title>Girls Who Code Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Dhanya's Blog</a></h1>
        </div>


{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">The importance of meditation</a></h2>
            <p>Hello Everyone and welcome to my first positivity post.
Want to be positive? Want to achieve many things by being positive?

Positive energy is great. I feel refreshed and confident when I am positive about something. Today, I like to share one tip for being positive. Positivity, according to me is having a peaceful and calm mind. It is just one sense of thinking about positivity. People might have different opinions and definitions for a positive life. Some may think being happy is positive, some may think having the ability to do something is positivity. It is based on your definition that you think if you are positive or not.

So first find out what you think about positivity.

I like to meditate in order to say positive. It helps you have a peaceful mind and stay positive. Meditation is one of the key steps for having a calm and positive mind. Just close you eyes or listen to some peaceful music or use any app to aid you. I like to listen to some flute music or piano because they just instantly give me a peace of mind. There are some great apps out there that help you meditate like headspace. There is great music on YouTube that you can listen to too.  Check out Yellow Brick Cinema on YouTube. They have great music and I am sure you will like it!

Meditation is beneficial in many ways for you body.

Reduces feelings such as anxiety, depression etc.
Increases blood flow and slows the heart rate.
Keeps you stress free
Controls thoughts
Improves functioning of the brain
And many more benefits!



So try it out! It may help you in some way!</p>
        </div>


    </body>
</html>
